#nodes * {
  box-sizing: border-box;
  text-shadow: none;
  color: white;
  line-height: normal;
}
#nodes {
  background-color: gray;
  font-family: 'Open Sans', Verdana, Helvetica;
  font-size: 12.5px;
  width: 200px;
  margin: 0;
  padding: 4px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1010;
}
#nodes p,
#nodes h1,
#nodes div,
#nodes section,
#nodes header,
#nodes form {
  display: block;
  width: initial;
  height: auto;
  overflow: auto;
}
#nodes input,
#nodes button,
#nodes img,
#nodes object,
#nodes span {
  display: inline;
}
#nodes input {
  color: black;
}
#nodes h1 {
  line-height: normal;
  margin: initial;
}
#nodes p {
  margin: 0 7px;
}
#nodes header {
  width: 100%;
}
#nodes header h1 {
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#nodes header p {
  text-align: center;
  font-size: 11px;
}
#nodes button {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 6px;
  color: #ffffff;
  font-size: 13px;
  background: #3498db;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
#nodes button:hover {
  background: #3cb0fd;
  text-decoration: none;
}
#nodes iframe {
  display: none;
}
#nodes section {
  padding: 0;
  margin: 0;
  list-style: none;
}
#nodes section > div {
  margin: 0 0.5%;
  padding: 3px 0;
  border-bottom: 1px white dashed;
}
#nodes section h1 {
  font-size: 15px;
  margin: 1px;
  margin-bottom: 4px;
}
